<h2 class="margin">Añadir Celebrity</h2>

<form method="POST" action="/celebrities/create">

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="...Name Here">
    </div>

    <div class="form-group">
        <label for="occupation">occupation</label>
        <input class="form-control" type="text" name="occupation" placeholder="...Occupation Here">
    </div>

    <div class="form-group">
    <label for="catchPhrase">Phrase</label>
    <input class="form-control" type="text" name="catchPhrase" placeholder="...Phrase Here">
    </div>

    <button class="btn btn-outline-info">Añadir Celebrity</button>

</form>

