<h2 class="margin">Añadir Película:</h2>

<form method="POST" action="/movies/create">

    <div class="form-group"></div>
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" placeholder="...Title Here">
    </div>

    <div class="form-group"></div>
        <label for="genre">Genre</label>
        <input class="form-control" type="text" name="genre" placeholder="...Genre Here">
    </div>

    <div class="form-group"></div>
        <label for="plot">Plot</label>
        <input class="form-control" type="text" name="plot" placeholder="...Plot Here">
    </div>

    <div class="form-group">
        <label for="cast">Cast:</label>
        <select class="form-control" name="cast">
            {{#each allCelebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
           {{/each}}
        </select>
    </div>

        <button class="btn btn-outline-info">Añadir Movie</button>
    
</form>